// Custom changes to make more GOV.UK like

html, body {
	@include core-19;
}

fieldset{
	border: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs{
	margin-left: $gutter;
	padding-bottom: 10px;
}

#global-header .header-wrapper {
	margin: 0;
}

#global-header-bar{
	max-width: none; // Full width blue bar
}

.tocify-wrapper {
	@include core-16;
    border-right: 1px solid $border-colour;

	ul, li {
		line-height: 40px;
	}

	li{
		padding-left: 15px;
    	transition: none;
	}

	.docs-name {
		img {
			width: 50px;
			float: left;
		}
		h3 {
			@include bold-24;
			float: left;
		}
		padding: 25px;
		// height: 100px;
		// display: none;
	}
	
	position: fixed;
	top: 107px; //below GOV.UK header

	.tocify-focus {
		// remove box shadow
		box-shadow: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.tocify-subheader {
    	background: $grey-4;
    	border-top: 1px solid $border-colour;
    	border-bottom: 1px solid $border-colour;
		.tocify-item>a{
			@include core-16;
			line-height: inherit !important;
		}
	}

    border-top: 1px solid $border-colour;

    .search{

    	background: $grey-4;

    	input{
    		padding: 10px 0 10px 20px;
    		margin: 10px;
    		width: 210px;
    		color: $text-colour;
    		border: 0;
    		border: 1px solid $border-colour;
    		&::-webkit-input-placeholder {
			   color: $secondary-text-colour;
			}

    	}
    	&::before{
    		top: 16px;
    		left: 10px;
    		display: none;
    	}
    }

    .search-results{
    	background: $grey-4;
    	border-bottom: 1px solid $border-colour;

	    &.visible{
		    border-top: 1px solid #bfc1c3;
		    padding-top: 5px; 	
	    }

    	li{	
		    border-bottom: 1px solid $border-colour;
		    margin: 5px 0 10px 0;
		    padding-bottom: 9px;
    	}
    }
}

.page-wrapper{
    border-top: 1px solid $border-colour;
}

.sticky {
  position: fixed;
  // width: 100%;
  // left: 0;
  top: 0;
  // z-index: 100;
  // border-top: 0;

  .lang-selector {
  	top: 0;
  }
}

table {
	width: inherit;
}

aside {
	clear: both;
}

.content > h1, .content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl {
    margin-right: 40%;
}

.content {

	.example {
		h1, h2, h3, p {
			border: none;
		}
		
	}

	h1{
		background-image: none;
		border-bottom: none;
	}

	h2 {
		@include bold-24;
		background-image: none;
		margin-top: 1em;
		border: 0;
	}

	h3 {
		@include bold-19;
		clear: both;
	}
	


}

.highlight {
	background-color: transparent;
}

.docs-name{
	@include bold-24;
}

.toc-footer{
	display: none;
}

.content a {
	color: $govuk-blue;
}

.sizer {
	// margin-right: 30%;
	width: 60%;
	float: left;
	padding: 0 28px;
    box-sizing: border-box;
    display: block;
    text-shadow: 0px 0px 0px #fff;
}

.page-wrapper .dark-box, .content pre,
.page-wrapper .dark-box, .content code {
	width: 40%;
	background: $grey-4;
	text-shadow: none;
	font-size: 16px;
}

.page-wrapper .dark-box{
	background: $grey-4;


	.lang-selector{
		background: $white;
		border-bottom: 5px solid $grey-4;
    	font-size: 16px;
	    font-weight: normal;

		a{
	    	color: $text-colour;
    		padding: 5px 20px;		
		}

		a.active {
	    	background-color: $grey-4;
	    	font-weight: bold;
		}
	}
}


pre > code {
	white-space: pre-wrap;
}

input:focus {
	outline: 3px solid $focus-colour;
}