// Custom changes to make more GOV.UK like

html, body {
	@include core-19;
}

#global-header .header-wrapper {
	margin: 0;
}

.tocify-wrapper {
	@include core-19;

	ul, li {
		line-height: 40px;
	}
	> img {
		display: none;
	}
	
	position: fixed;
	top: 53px; //below GOV.UK header

	border-right: 1px solid $panel-colour;

	.tocify-focus {
		// remove box shadow
		box-shadow: none;
	}

	a:hover {
		text-decoration: underline;
	}

	.tocify-subheader {
		.tocify-item>a{
			@include core-16;
			line-height: inherit !important;
		}
	}
}

.sticky {
  position: fixed;
  // width: 100%;
  // left: 0;
  top: 0;
  // z-index: 100;
  // border-top: 0;
}

table {
	width: inherit;
}

aside {
	clear: both;
}